---
import GalleryCarousel from "../components/interactive/Carousel.jsx";

const images = [
  "/assets/images/gallery/image1.jpg",
  "/assets/images/gallery/image2.jpg",
  "/assets/images/gallery/image3.jpg",  
  "/assets/images/gallery/image4.jpg",
  "/assets/images/gallery/image5.jpg",
  "/assets/images/gallery/image6.jpg",
  "/assets/images/gallery/image7.jpg",
];
---

<section id="gallery">
  <GalleryCarousel images={images} client:load />
</section>
